@charset "UTF-8";

body {
  margin: 3em auto;
  width: 760px;
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
}

header {
  position: fixed;
}

header h1 {
  font-family: Baskerville, "Baskerville Win95BT", "Times New Roman", Times, serif;
  margin: 0;
}

header h1 a {
  color: black;
  text-decoration: none;
}

header h1 a:before {
  content: "";
  opacity: 0.5;
  background: url(/images/gradient-white.png) repeat-x;
  position: absolute;
  display: block;
  width: 100%;
  height: 37px;
}

header ul.menu {
  list-style: none;
  padding-left: 0;
  float: right;
  width: 140px;
}

header ul.menu li {
  margin: 3px 5px;
}

header ul.menu li a {
  color: black;
  display: inline-block;
  width: 100%;
  height: 25px;
  font-size: 80%;
  text-align: center;
  text-decoration: none;
}

header ul.menu li a:hover {
  color: white;
  border-radius: 15px;
  background-color: #888;
  -moz-box-shadow: inset 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: inset 0px 0px 10px 0px #aaa;
  box-shadow: inset 0px 0px 10px 0px #aaa;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaa', Direction=145, Strength=6);
}

header ul.menu li a:active,
header ul.menu li a.current {
  color: white;
  border-radius: 15px;
  background-color: #aaa;
  background:
    -o-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%),
    -o-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .2) 100%),
    -o-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .2) 100%),
    -o-linear-gradient(top, rgba(30, 30, 30, 1) 0, rgba(75, 75, 75, 1) 97%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%);
  background:
    -moz-linear-gradient(top, rgba(0, 0, 0, .8) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%),
    -moz-linear-gradient(top, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, .2) 100%),
    -moz-linear-gradient(left, rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, .2) 100%),
    -moz-linear-gradient(top, rgba(30, 30, 30, 1) 0, rgba(75, 75, 75, 1) 97%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, .45) 100%);
  background:
    -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.8)),color-stop(.1,rgba(0,0,0,0)),to(rgba(0,0,0,0))),
    -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,.2)),color-stop(.3,rgba(0,0,0,0)),color-stop(.7,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),
    -webkit-gradient(linear,0 0,100% 0,from(rgba(0,0,0,.2)),color-stop(.2,rgba(0,0,0,0)),color-stop(.8,rgba(0,0,0,0)),to(rgba(0,0,0,.2))),
    -webkit-gradient(linear,0 0,0 100%,from(rgba(47,47,47,1)),color-stop(0.97,rgba(75,75,75,1)),color-stop(0.97,rgba(0,0,0,0)),to(rgba(0,0,0,.45)));
}

header .menu ul.categories li a {
  text-align: left;
  font-size: 70%;
}

#main {
  width: 560px;
  margin-left: 200px;
  min-height: 300px;
}

footer {
  margin-top: 20px;
  clear: both;
  color: #888;
  text-align: center;
}

input {
  border: 1px solid #ccc;
}

.search-form {
  float: right;
}

.search-form input[name="q"] {
  width: 200px;
}

.utility {
  position: relative;
}

.utility .categories {
  display: inline-block;
  margin-left: 15px;
  font-size: 90%;
}

.utility .categories .category {
  display: inline-block;
  margin: 0 2px;
  background-color: #d8d8d8;
  color: #555;
  text-decoration: none;
  font-size: 85%;
  border-radius: 5px;
  padding: 0 5px;
  font-weight: bold;
}

.utility .categories .category.active,
.utility .categories .category:active,
.utility .categories .category:hover {
  background-color: #247cc0;
  color: white;
}

.utility .version {
  display: inline-block;
  margin-left: 7px;
  color: #aaa;
  font-style: italic;
  font-size: 90%;
}

.utility dd {
  margin-left: 20px;
}

/* Prettify */
.prettyprint.lang-lisp {
  color: white;
}
.pun,.opn,.clo { color: #993; }

input[type="text"] {
  border-radius: 15px;
  padding-left: 10px;
}

input[type="text"]:focus {
  outline: 0 none;
  border: 1px solid #888;
}

input.filter {
  width: 100%;
  height: 2em;
}

.favorite, .unfavorite {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.favorite input[type="submit"],
.unfavorite input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 150%;
  margin: 0;
  padding: 0;
}

/* message */
.inactive-message {
  text-align: center;
  color: #888;
  padding: 15px;
}
