@charset "UTF-8";
body {
  margin: 3em auto;
  width: 820px;
  line-height: 150%;
  font-family: "Optima", "Nu Sans", Baskerville, "Times New Roman", "Arial", sans-serif;
}
.logo {
  position: relative;
  font-family: Baskerville, "Baskerville Win95BT", "Times New Roman", Times, serif;
  margin: 0;
  display: inline-block;
}
.logo a {
  color: black;
  text-decoration: none;
}
.logo a:before {
  content: "";
  opacity: 0.5;
  background: url(/images/gradient-white.png) repeat-x;
  position: absolute;
  display: block;
  width: 100%;
  height: 37px;
}
footer {
  position: relative;
  margin-top: 20px;
  clear: both;
  color: #888;
  text-align: center;
}
footer .lisp-logo {
  width: 150px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
pre.prettyprint {
  border-radius: 4px !important;
}
a {
  text-decoration: none;
  color: #4183c4;
}
code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
header {
  position: absolute;
  width: 200px;
  z-index: 1;
}
header .subtitle {
  margin-top: 0;
  margin-left: 5px;
  font-size: 80%;
  color: #999;
}
header nav ul {
  list-style: none;
  padding-left: 0;
}
header nav ul li {
  width: 200px;
  margin-bottom: 5px;
  display: table;
}
header nav ul.menu li a {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 25px;
  padding: 5px 0;
  color: black;
  font-size: 80%;
  text-align: center;
  text-decoration: none;
}
header nav ul.menu li a:hover {
  color: white;
  border-radius: 4px;
  background-color: #888;
  -moz-box-shadow: inset 0px 0px 10px 0px #aaa;
  -webkit-box-shadow: inset 0px 0px 10px 0px #aaa;
  box-shadow: inset 0px 0px 10px 0px #aaa;
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#aaa', Direction=145, Strength=6);
}
header nav ul.menu li a:active,
header nav ul.menu li a.current {
  color: white;
  border-radius: 4px;
  background-color: #aaa;
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%), -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 100%), -o-linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2) 100%), -o-linear-gradient(top, #1e1e1e 0, #4b4b4b 97%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0) 100%), -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.2) 100%), -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.2) 100%), -moz-linear-gradient(top, #1e1e1e 0, #4b4b4b 97%, rgba(0, 0, 0, 0) 97%, rgba(0, 0, 0, 0.45) 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.8)), color-stop(0.1, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0 0, 0 100%, from(rgba(0, 0, 0, 0.2)), color-stop(0.3, rgba(0, 0, 0, 0)), color-stop(0.7, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 0.2)), color-stop(0.2, rgba(0, 0, 0, 0)), color-stop(0.8, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2))), -webkit-gradient(linear, 0 0, 0 100%, from(#2f2f2f), color-stop(0.97, #4b4b4b), color-stop(0.97, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.45)));
}
h3 {
  margin-top: 30px;
  font-weight: bold;
}
.toc {
  margin-top: 30px;
}
#main {
  width: 560px;
  margin-left: 260px;
  min-height: 300px;
}
input {
  border: 1px solid #ccc;
}
.search-form {
  float: right;
}
.search-form input[name="q"] {
  width: 200px;
}
.how-to-use {
  list-style: none;
  padding-left: 0;
}
.how-to-use h3 {
  margin-bottom: 10px;
}
pre.example-code {
  color: #fff;
  background: #000;
  margin: 0;
  border-radius: 4px;
  padding: 1em;
}
.utility {
  position: relative;
  margin-top: 10px;
  padding: 10px 0 0;
  border-top: 1px solid #eee;
}
.utility .symbol-name {
  font-size: 16px;
  font-weight: bold;
}
.utility .provides {
  display: inline-block;
  margin-left: 15px;
  color: #888;
  font-size: 80%;
}
.utility .categories {
  display: inline-block;
  margin-left: 6px;
  font-size: 90%;
}
.utility .categories .category {
  display: inline-block;
  margin: 0 2px;
  background-color: #e8e8e8;
  color: #888;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 85%;
  border-radius: 2px;
  padding: 0 5px;
  line-height: 140%;
}
.utility .categories .category.active,
.utility .categories .category:active,
.utility .categories .category:hover {
  background-color: #247cc0;
  color: white;
}
.utility .version {
  display: inline-block;
  display: none;
  margin-left: 7px;
  color: #aaa;
  font-style: italic;
  font-size: 90%;
}
.utility > dd {
  position: relative;
  margin-left: 0;
}
.utility > dd .show-source-code {
  position: absolute;
  right: 2px;
  bottom: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 80%;
}
.utility .documentation {
  font-size: 90%;
  color: #555;
  margin-left: 20px;
}
.utility .source-code {
  display: none;
  color: white;
}
.pun,
.opn,
.clo {
  color: #993;
}
.side-link {
  float: right;
  font-size: 80%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-next-link {
  display: block;
  text-align: right;
  margin-top: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-next-link a:before {
  content: "right";
}
.filter-box {
  position: relative;
}
.filter-box .filter-icon {
  position: absolute;
  top: 2px;
  left: 7px;
  color: #777;
}
input[type="text"] {
  border-radius: 3px;
  padding-left: 21px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
input[type="text"]:focus {
  outline: 0 none;
  border: 1px solid #888;
}
input.filter {
  width: 100%;
  height: 2.4em;
}
.favorite,
.unfavorite {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.favorite input[type="submit"],
.unfavorite input[type="submit"] {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 150%;
  margin: 0;
  padding: 0;
}
/* message */
.inactive-message {
  text-align: center;
  color: #888;
  padding: 15px;
}
/* informations */
.informations {
  font-size: 80%;
  color: #888;
  line-height: 140%;
  margin: 0 0 5px;
}
.informations dt,
.informations dd {
  padding: 0 10px;
}
.informations dt {
  float: left;
  clear: both;
}
.informations dt:after {
  content: ":";
}
.informations dd {
  margin-left: -4px;
}
/* Category Filter */
.category-filters {
  margin: 30px 0;
  padding: 10px 0 0 10px;
  border-top: 1px solid #ccc;
  font-size: 90%;
}
.category-filters h2 {
  font-size: 100%;
  margin: 0;
}
.category-filters ul {
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
}
.category-filters .remove-filter {
  display: none;
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 140%;
  color: #aaa;
}
.category-filters .remove-filter:hover {
  color: #333;
}
.category-filters li {
  position: relative;
}
.category-filters li.active {
  background: #eee;
  border-radius: 3px;
}
.category-filters li.active .remove-filter {
  display: inline;
}
.category-filters li.active a.category {
  color: #555;
}
.category-filters li a.category {
  display: block;
  padding: 0 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 3px;
  color: #888;
}
.category-filters li a.category:hover {
  background: #eee;
}
/* footer */
footer {
  margin-top: 40px;
}
