<div id="footer">
  <div class="github-buttons">
    <iframe width="85" height="20" src="http://ghbtns.com/github-btn.html?user=tarballs-are-good&amp;repo=quickutil&amp;type=watch&amp;count=true" frameborder="0" scrolling="0" allowtransparency="true"></iframe>
    <iframe width="85" height="20" src="http://ghbtns.com/github-btn.html?user=tarballs-are-good&amp;repo=quickutil&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" allowtransparency="true"></iframe>
  </div>

  Authored by Robert Smith &amp; Eitarow Fukamachi.
</div>
