<div id="header">
  <h1><a href="/" data-pjax="#main">Quickutil</a></h1>
  <ul class="menu">
    <li<% (when (equal (getf env :current) "index") %> class="current"<% ) %>><a href="/" data-pjax="#main">What's Quickutil?</a></li>
    <li<% (when (equal (getf env :current) "list") %> class="current"<% ) %>><a href="/list" data-pjax="#main">Find Utilities</a></li>
    <li<% (when (equal (getf env :current) "favorites") %> class="current"<% ) %>><a href="/favorites" data-pjax="#main">Favorites</a></li>
  </ul>
</div>

<a href="https://github.com/tarballs-are-good/quickutil"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
