<div class="utility" data-utility-name="<% @var name %>">
  <dt>
    <% @var name %>
    <span class="categories">(<% @loop categories %><a href="/list/<%= env %>" class="category"><%= env %></a><% @endloop %>)</span>
    <span class="version">v<% @var version %></span>
    <span class="lsf <% @if favoritep %>unfavorite<% @else %>favorite<% @endif %>"><% @if favoritep %>star<% @else %>starempty<% @endif %></span>
  </dt>
  <dd><pre class="prettyprint lang-lisp"><% @loop code %><%
      %><% (quickutil-utilities::pretty-print-utility-code env *standard-output*) %><%
  %><% @endloop %></pre></dd>
</div>
