{namespace quickutil-server.view}

{template wrapper}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <title>{$title}</title>
  <link type="text/css" rel="stylesheet" href="/css/prettify.css" />
  <link type="text/css" rel="stylesheet" href="/css/sunburst.css" />
  <link type="text/css" rel="stylesheet" href="/css/LigatureSymbols/style.css" />
  <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
  <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/js/jquery.pjax.js"></script>
  <script type="text/javascript" src="/js/underscore-min.js"></script>
  <script type="text/javascript" src="/js/prettify.js"></script>
  <script type="text/javascript" src="/js/lang-lisp.js"></script>
  <script type="text/javascript" src="/js/quickutil.js"></script>
</head>
<body>
  <header>
    <h1 class="logo"><a href="/" data-pjax="#main">Quickutil</a></h1>
    <p class="subtitle">Lisp utilities on demand</p>
    <nav>
      <ul class="menu">
        <li><a {if $current == 'index'}class="current"{/if} href="/" data-pjax="#main">What's Quickutil?</a></li>
        <li><a {if $current == 'list'}class="current"{/if} href="/list" data-pjax="#main">Find utilities</a></li>
        {if 0}
        <li><a {if $current == 'favorites'}class="current"{/if} href="/favorites" data-pjax="#main">Favorites</a></li>
        {/if}
      </ul>
    </nav>
    <aside>
      <div class="category-filters">
        <h2>Categories</h2>
        <ul>
          {foreach $category in $categories}
          <li {if $category == $currentCategory}class="active"{/if} data-category="{$category}">
            <a href="/list/{$category | escapeUri}" class="category" data-pjax="#main">{$category}</a>
            <a href="/list" class="remove-filter lsf" data-pjax="#main">remove</a>
          </li>
          {/foreach}
        </ul>
      </div>
    </aside>
  </header>

  <a href="https://github.com/tarballs-are-good/quickutil"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: -1000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<div id="main">
  {$body | noAutoescape}
</div>

<footer>
  <div class="github-buttons">
    <iframe width="85" height="20" src="http://ghbtns.com/github-btn.html?user=tarballs-are-good&amp;repo=quickutil&amp;type=watch&amp;count=true" frameborder="0" scrolling="0" allowtransparency="true"></iframe>
    <iframe width="85" height="20" src="http://ghbtns.com/github-btn.html?user=tarballs-are-good&amp;repo=quickutil&amp;type=fork&amp;count=true" frameborder="0" scrolling="0" allowtransparency="true"></iframe>
  </div>

  <small>Authored by Robert Smith &amp; Eitarow Fukamachi.</small>

  <img class="lisp-logo" src="/images/lisp-logo150x50.png" />
</footer>
</body>
</html>
{/template}
