{namespace quickutil-server.view}

{template renderBenefits}
  {call wrapper}
    {param title: 'Why Quickutil? | Quickutil' /}
    {param current: 'benefits' /}
    {param categories: $categories /}
    {param body}
      <h2>Why <span class="logo">Quickutil</span>?</h2>

      <p>When developing libraries in Common Lisp, it is almost always the case there will be one or more <code>utility.lisp</code> files. It is also not uncommon for these utility files to have repetition across different applications, which leads a developer to creating their own Common Lisp utilities projects, as can be seen on the <a href="http://www.cliki.net/utilities">CLiki Utilities</a> page.</p>
      
      <p>The first attempt at a solution to this problem was to create what became the <em>de facto</em> standard library for Common Lisp utilities: <a href="http://common-lisp.net/project/alexandria/">Alexandria</a>. While Alexandria contains on the order of 100 high quality, useful utilities, it suffers from a very slow-moving oligarchy. Alexandria's improvement depends on their willingness to cooperate in a timely manner with the community.</p>
      
      <p><span class="logo">Quickutil</span> is a different approach to utility libraries. Instead of being a single, monolithic library, e.g., Alexandia, it attempts to be a nimble and lean platform for distribution of utilities piecemeal. Because only the utilities needed are downloaded (manually or automatically), introducing new utilities, even experimental ones, to the platform does not bloat all consumers of the library, and only requires a cursory check to see if it follows a few guidelines.</p> 
    {/param}
  {/call}
{/template}
