{namespace quickutil-server.view}

{template renderHow}
  {call wrapper}
    {param title: 'How to use it | Quickutil' /}
    {param current: 'how' /}
    {param categories: $categories /}
    {param javascripts: $staticFiles.javascripts /}
    {param css: $staticFiles.css /}
    {param isPjax: $isPjax /}
    {param body}
      <h2>How to use <span class="logo">Quickutil</span></h2>

      <ul class="toc">
        <li><a href="#utils-categories-syms">Utilities, Categories, and Symbols</a></li>
        <li><a href="#loading-quickutil">Loading <span class="logo">Quickutil</span></a></li>
        <li><a href="#loading-utils">Loading Utilities</a></li>
     <li><a href="#integration">Integrating <span class="logo">Quickutil</span> into Your Project</a></li>   
        
        <li><a href="#generating">Generating a Utility File</a></li>
        <li><a href="#package">Specifying the Package</a></li>
        <li><a href="#autoloading">Autoloading Utilities</a></li>
        <!-- <li><a href="#provides">Finding the Right Utility to Load</a></li> -->
      </ul>

      <a id="utils-categories-syms"></a>
      <h3>Utilities, Categories, and Symbols</h3>

      <p><span class="logo">Quickutil</span> is centered around the idea of a <strong>utility</strong>, a self-contained piece of functionality or very related functionalities that typically solve a small, generic problem. Utilities are assigned a variety of <strong>categories</strong>, such as <code>math</code> or <code>sequences</code>. Categories can also act as <em>micro-libraries</em>, such as <code>split-sequence</code>. Finally, utilities provide <strong>symbols</strong>, which might be functions, macros, constants, etc.</p>

      <p>While it is most often the case, it is not necessarily true that a utility corresponds to a single symbol. For example, the utility <code>:true-false</code> actually provides two symbols: <code>true</code> and <code>false</code>.</p>

      <p><span class="logo">Quickutil</span> allows one to query for functionality based on the three above granularities, all at the same time. It queries efficiently, too. So if you want the symbol <code>ee</code>&mdash;the mathematical quantity <em>e</em>&mdash;specifically, as well as everything in the <code>math</code> category, it will still only load the utility containing <code>ee</code> once. Moreover, if you've already installed utilities, it is smart and neither recompiles nor reinstalls them.</p>

      <a id="loading-quickutil"></a>
      <h3>Loading <span class="logo">Quickutil</span></h3>

      <p>Currently, <span class="logo">Quickutil</span> is in beta, and not a part of Quicklisp. The latest <span class="logo">Quickutil</span> tarball can be downloaded into a place Quicklisp can see it, and it can be loaded via:</p>

      <pre class="example-code prettyprint lang-lisp">
        <code>(ql:quickload :quickutil)</code>
      </pre>

      <p>Loading this will create two packages: <code>quickutil-client</code> or <code>qtlc</code> for all of the acquisition and management functions, and <code>quickutil</code> or <code>qtl</code> for all of the installed utilities.</p>

      <a id="loading-utils"></a>
      <h3>Loading Utilities</h3>

      <p>Loading utilities in <span class="logo">Quickutil</span> is done via the function <code>qtlc:utilize</code>:</p>

      <pre class="example-code prettyprint lang-lisp">
        <code>(qtlc:utilize</code><br/>
        <code>&nbsp;&nbsp;:utilities '(:iota :riffle)</code><br/>
        <code>&nbsp;&nbsp;:categories '(:alexandria)</code><br/>
        <code>&nbsp;&nbsp;:symbols '(:split-sequence-if-not))</code>
      </pre>

      <p>This will acquire, compile, and load all of the requested utilities and dependencies right into the image to the <code>quickutil</code> package.</p>
      
      <p>Utilities are acquired locally, through an auxiliary, private package called <code>quickutil-utilities</code>. As such, there is no network dependency whatsoever, and if <span class="logo">Quickutil</span> is up-to-date, then so will all of the utilities. This is unlike previous releases of <span class="logo">Quickutil</span>, which acquired all utilities off of the Internet.</p>
      
      <p>For convenience, there are three functions with a subset of functionality for special cases:</p>
      <dl>
        <dt><code>(qtlc:utilize-utilities '(:riffle :weave))</code></dt>
        <dd>Install the utilities <code>:riffle</code> and <code>:weave</code>.</dd>
        <dt><code>(qtlc:utilize-categories '(:math :alexandria))</code></dt>
        <dd>Install everything in the categories <code>math</code> and <code>alexandria</code>.</dd>
        <dt><code>(qtlc:utilize-symbols '(:split-sequence-if-not))</code></dt>
        <dd>Install the utility containing the function <code>split-sequence-if-not</code>.</dd>
      </dl>
      
      <a id="integration"></a>
      <h3>Integrating <span class="logo">Quickutil</span> into Your Project</h3>
      
      <p>There are two ways to integrate utilities from <span class="logo">Quickutil</span> into your project: using <code>qtlc:utilize</code> or <a href="#generating">generating a stand-alone utility file</a>. <strong>It is highly recommended that you use <code>qtlc:utilize</code> in order to keep utilities up-to-date!</strong></p>
      
      <p>To integrate, simply add the appropriate <code>qtlc:utilize</code> form somewhere in the toplevel of a file in your project. It is common to add it to one's <code>utilities.lisp</code> file, which contains project-specific helper functions in addition to the <code>utilize</code> form.</p>
      
      
      <a id="generating"></a>
      <h3>Generating a Utility File</h3>

      <p>Sometimes a project may not want to depend on <code>compile</code>, or a project needs to be bootstrapped without loading any ASDF systems. A lot of times, these projects have their own <code>utils.lisp</code> file which inadvertently duplicates common utilities. <span class="logo">Quickutil</span> aims to manage that by generating it automatically based off of what you need.</p>

      <p>Generating the utilities file is done with <code>qtlc:save-utils-as</code>, which takes the utilities, categories, and symbols that you want to save.</p>

      <pre class="example-code prettyprint lang-lisp">
        <code>(qtlc:save-utils-as "utils.lisp"</code><br/>
        <code>&nbsp;&nbsp;:utilities '(:iota :riffle)</code><br/>
        <code>&nbsp;&nbsp;:categories '(:alexandria)</code><br/>
        <code>&nbsp;&nbsp;:symbols '(:split-sequence-if-not)</code><br/>
        <code>&nbsp;&nbsp;:package "MY-PROJECT.UTILITIES")</code><br/>
      </pre>

      <p>Now, the file <code>utils.lisp</code> will be saved to disk and can be added to your project. <strong>This file does <em>not</em> depend on <span class="logo">Quickutil</span> or have any network dependencies!</strong> It is a completely self-contained, readable, and modifiable source file. (However, we don't recommend modifying it so it can be regenerated in the future.)</p>

      <p>To use it, simply add it as a dependency to your ASD file, or load it into the REPL. All of the utilities that you saved will be in the package <code>quickutil</code> or <code>qtl</code>.</p>
      
      <p><strong>Please note</strong> that it is <emph>not</emph> recommended that you generate a stand-alone utility file unless you have strict bootstrapping requirements or cannot use ASDF.</p>

      <a id="package"></a>
      <h3>Specifying the Package</h3>
      
      <p>For projects that use <code>utilize</code>, having everything go into the canonical <code>quickutil</code> package is okay since it is managed by <span class="logo">Quickutil</span>. However, when one creates libraries or uses dependencies, it is necessary to create or use a dedicated package for generated utilities. If project X uses a generated <span class="logo">Quickutil</span> file, and also depends on project Y which also uses a generated file, then there is a clash between utility functions.</p>
      
      <p><span class="logo">Quickutil</span> requires the user to specify the package in which he or she would like to put the utilities, and optionally, specify it to be created if it hasn't been already. The function <code>save-utils-as</code> takes a required argument <code>:package</code> and two extra optional keyword arguments <code>:ensure-package</code> and <code>:package-nickname</code>:</p>
      
      <dl>
        <dt><code>:package </code><em>string</em></dt>
        <dd>Specify that the utilities should be loaded into the package named by the string argument.</dd>
        <dt><code>:ensure-package </code><em>boolean</em></dt>
        <dd>Ensure that the package has been created. If the package does not already exist, <span class="logo">Quickutil</span> will create it. By default this is <code>t</code>.</dd>
        <dt><code>:package-nickname </code><em>string-or-nil</em></dt>
        <dd>If a new package is created, specify that the nickname for the package should be the given string. If <code>nil</code> is specified, do not create a nickname. By default this is <code>nil</code>.</dd>
      </dl>
      
      <p>So, for example, to save the following utilities and make them usable from the package named <code>"MY-PROJECT.UTILITIES"</code>, we issue the following command: </p>
      
      <pre class="example-code prettyprint lang-lisp">
        <code>(qtlc:save-utils-as "utils.lisp"</code><br/>
        <code>&nbsp;&nbsp;:utilities '(:iota :riffle)</code><br/>
        <code>&nbsp;&nbsp;:categories '(:alexandria)</code><br/>
        <code>&nbsp;&nbsp;:symbols '(:split-sequence-if-not)</code><br/>
        <code>&nbsp;&nbsp;:package "MY-PROJECT.UTILITIES"</code><br/>
        <code>&nbsp;&nbsp;:ensure-package t</code><br/>
        <code>&nbsp;&nbsp;:package-nickname "UTIL")</code>
      </pre>

      <p>Now when this file is loaded, we will be able to use the functions from the specified package: <code>my-project.utilities:iota</code> or <code>util:iota</code>.</p>
      
      <p>If we do not want to create a new package, because it was created elsewhere in your project, we can specify it not to. This is useful if you have other project-specific utility functions that you want to keep together with the generated ones.</p>
      
      <pre class="example-code prettyprint lang-lisp">
        <code>(qtlc:save-utils-as "utils.lisp"</code><br/>
        <code>&nbsp;&nbsp;:utilities '(:iota :riffle)</code><br/>
        <code>&nbsp;&nbsp;:categories '(:alexandria)</code><br/>
        <code>&nbsp;&nbsp;:symbols '(:split-sequence-if-not)</code><br/>
        <code>&nbsp;&nbsp;:package "MY-PROJECT.UTILITIES"</code><br/>
        <code>&nbsp;&nbsp;:ensure-package nil)</code>
      </pre>
      
      <a id="autoloading"></a>
      <h3>Autoloading Utilities</h3>
      <p>Especially for quick REPL interactions, it is nice to be able to use utilities without explicitly loading them simply because it is faster and requires less typing. <span class="logo">Quickutil</span> provides an optional <em>autoload syntax</em>, <code>#?</code>, which autoloads the symbol right after it. The syntax is disabled by default, and can be enabled with <code>qtlc:enable-autoload-syntax</code>. For example:</p>

      <pre class="example-code prettyprint lang-lisp">
        <code>&gt; (qtlc:enable-autoload-syntax)</code><br/>
        <code>&gt; (#?implode (#?shuffle (#?explode "hello")))</code><br/>
        <code>"lolhe"</code>
      </pre>

      <p>Autoloading only acquires utilities when it needs to; already-loaded symbols are recycled.</p>
      
      <p>You can permanently enable autoload syntax by loading <span class="logo">Quickutil</span> and putting the <code>qtlc:enable-autoload-syntax</code> call in your Lisp's initialization file.</p>
    {/param}
  {/call}
{/template}
