<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <% @include _html_header.html %>
  <title>Quickutil</title>
</head>
<body>
<% @include _header.html %>

<div id="main">
  <h3>What's Quickutil?</h3>

  <p>Quickutil is an application and library for distributing utilities, aiming to solve the "utility problem".</p>

  <p>It is similar in spirit to Quicklisp, in that utilities can automatically be downloaded and installed to projects.</p>

  <h3>Installation</h3>

  <pre><code>(ql:quickload :quickutil-client)</code></pre>

  <h3>Load an Utility</h3>

  <pre><code>(qtl:quickload :iota)</code></pre>
</div>

<% @include _footer.html %>
</body>
</html>
