{namespace quickutil-server.view}

{template renderIndex}
  {call wrapper}
    {param title: 'Quickutil - The Solution to the Utility Library Problem.' /}
    {param current: 'index' /}
    {param categories: $categories /}
    {param body}
      <h2>What's <span class="logo">Quickutil</span>?</h2>

      <p><span class="logo">Quickutil</span> is an application and library for downloading and distributing Common Lisp utilities. It is similar in spirit to <a href="http://www.quicklisp.org/" target="_blank">Quicklisp</a>, in that utilities can automatically be downloaded and installed to projects.</p>

      <ul class="how-to-use">
        <li>
          <h3>1. Installation</h3>

          <pre>
            <code>(ql:quickload :quickutil)</code>
          </pre>
        </li>

        <li>
          <div class="side-link"><a href="/list" data-pjax="#main">Find utilities</a></div>
          <h3>2. Load a Utility</h3>

          <pre>
            <code>(qtl:quickload :iota :riffle)</code>
          </pre>
        </li>

        <li>
          <h3>3. Use a Utility</h3>

          <pre>
            <code>&gt; (qtl:riffle (qtl:iota 5) '--)</code><br/>
            <code>(0 -- 1 -- 2 -- 3 -- 4)</code>
          </pre>
        </li>
      </ul>
    {/param}
  {/call}
{/template}
