{namespace quickutil-server.view}

{template renderIndex}
  {call wrapper}
    {param title: 'Quickutil - The solution to the Utility Library problem.' /}
    {param current: 'index' /}
    {param categories: $categories /}
    {param body}
      <h2>What's Quickutil?</h2>

      <p>Quickutil is an application and library for distributing Common Lisp utilities, aiming to solve the "utility problem".</p>

      <p>It is similar in spirit to <a href="http://www.quicklisp.org/">Quicklisp</a>, in that utilities can automatically be downloaded and installed to projects.</p>

      <h3>Installation</h3>

      <pre class="prettyprint lang-lisp"><code>(ql:quickload :quickutil-client)</code></pre>

      <h3>Load a Utility</h3>

      <pre class="prettyprint lang-lisp"><code>(qtl:quickload :iota)</code></pre>
    {/param}
  {/call}
{/template}
