<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Quickutil</title>
  <link rel="stylesheet" href="/static/css/main.css" type="text/css" media="screen, tv, print" charset="UTF-8" />
  <link type="text/css" rel="stylesheet" href="/css/prettify.css" />
  <link type="text/css" rel="stylesheet" href="/css/sunburst.css" />
  <script type="text/javascript" src="/js/prettify.js"></script>
  <script type="text/javascript" src="/js/lang-lisp.js"></script>
  <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/js/quickutil.js"></script>
</head>
<body onload="prettyPrint()">
<div id="header">
  <h1><a href="/">Quickutil</a></h1>
</div>

<div id="main">
  <input type="text" class="filter" placeholder="Filter below utilities" />
  <p class="filter-result-description">There are <strong class="count"><%= (length (getf env :utilities)) %></strong> utilities.</p>
  <dl>
<% @loop utilities %>
  <div class="utility" data-utility-name="<% @var name %>">
    <dt><% @var name %><span class="categories"><% @var categories %></span><span class="version">v<% @var version %></span></dt>
    <dd><pre class="prettyprint lang-lisp"><% @loop code %><%
        %><% (quickutil-utilities::pretty-print-utility-code env *standard-output*) %><%
    %><% @endloop %></pre></dd>
  </div>
<% @endloop %>
  </dl>
</div>

<div id="footer">
  Authored by Robert Smith &amp; Eitarow Fukamachi.
</div>
</body>
</html>
