{namespace quickutil-server.view}

{template renderList}
  {call wrapper}
    {param title: 'Utilities | Quickutil' /}
    {param current: 'list' /}
    {param body}
      {if $category}
      <div class="filter-category">Category: <strong>{$category}</strong> (<a href="/list" data-pjax="#main">Show all categories</a>)</div>
      {/if}
      <div class="filter-box">
        <span class="lsf filter-icon">search</span>
        <input type="text" class="filter" placeholder="Filter below utilities" value="{$q}" />
      </div>
      <p class="filter-result-description">There are <strong class="count">{length($utilities)}</strong> utilities.</p>
      <dl>
        {foreach $utility in $utilities}
          {call utility}
            {param utility: $utility /}
            {param csrfHtmlTag: $csrfHtmlTag /}
          {/call}
        {/foreach}
      </dl>
    {/param}
  {/call}
{/template}
